.khan__buy-link {
    margin: 0 0 0 48px;
    vertical-align: top;
    font-size: 30px;
    line-height: 42px;
    font-weight: normal;
    text-decoration: none;
    transition: opacity 0.3s linear;
  }
  
  .khan__buy-link:hover {
    opacity: .5;
  }
  